.header-content {
    display: flex;
    margin: 0 100px;
    gap: 26vw;
    align-items: center;
    flex-shrink: 0;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logo-wrapper img {
    height: 45px;
    padding: 10px 0;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    height: 40px;
    flex-shrink: 0;
}

a {
    color: #00507a;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 5px;
    font-weight: 600;
}

.nav-item {
    height: 100%;
    display: flex;  
    align-items: center;
    transition: 200ms ease;
}

a:hover {
    text-decoration: underline;
}

h3 {
    color: #00507a;
    margin-bottom: 0;
    font-size: 0.8rem;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: #00507a;
}

#navlink-active {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    a {
        font-size: 0.9rem;
    }

    .header-content {
        flex-direction: column;
        gap: 0;
    }
    
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    #logo {
        width: 20px;
        height: 20px;
    }

    .navbar {
        background-color: transparent;
        gap: 3vw;
    }

    a {
        color: #00507a;
    }

}